# Flask
instance/
.webassets-cache
__pycache__/
*.py[cod]
*$py.class

# Database
# *.db  (removed to allow ambulance.db to be pushed)

# Environments
.env
.env.production
.venv
env/
venv/
ENV/
node_modules/

# OS files
.DS_Store
Thumbs.db
